<div class="card">
  <%= link_to image_tag(article.image, class: :card__img), article_path(article.id), method: :get %>
  <div class="card__body">
    <%= link_to article.title, article_path(article.id), method: :get, class: :card__title %>
    <p class="card__summary">
      <% link_to article.text, article_path(article.id), method: :get %>
      <%= article.category.name %>
    </p>
    <%= link_to article.user.nickname, "/users/#{article.user.id}", class: :card__user %>
  </div>
</div>